@model Job
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <partial name="SideNavPartial"/>
    </div>
    <div class="dashboard_main">
        <div class="job_form_title">
            Add a Job
        </div>
        <div class="job_form">
            <form asp-action="AddNewJob" asp-controller="Home" method="POST">
                <div class="job_sub_form">
                    <div>
                        <span asp-validation-for="CompanyName"></span>
                        <label asp-for="CompanyName"></label>
                        <input asp-for="CompanyName">
                    </div>
                    <div>
                        <span asp-validation-for="JobTitle"></span>
                        <label asp-for="JobTitle"></label>
                        <input asp-for="JobTitle">
                    </div>
                    <div>
                        <span asp-validation-for="JobStatus"></span>
                        <label asp-for="JobStatus"></label>
                        <input asp-for="JobStatus">
                    </div>
                    <div>
                        <span asp-validation-for="AppliedAt"></span>
                        <label asp-for="AppliedAt"></label>
                        <input asp-for="AppliedAt">
                    </div>
                    <div>
                        <span asp-validation-for="AppliedDate"></span>
                        <label asp-for="AppliedDate"></label>
                        <input asp-for="AppliedDate">
                    </div>
                </div>
                <div class="job_sub_form">
                    <div>
                        <span asp-validation-for="JobType"></span>
                        <label asp-for="JobType"></label>
                        <input asp-for="JobType">
                    </div>
                    <div>
                        <span asp-validation-for="CompanyWebsite"></span>
                        <label asp-for="CompanyWebsite"></label>
                        <input asp-for="CompanyWebsite">
                    </div>
                    <div>
                        <span asp-validation-for="ApplicationLink"></span>
                        <label asp-for="ApplicationLink"></label>
                        <input asp-for="ApplicationLink">
                    </div>
                    <div>
                        <span asp-validation-for="RequiredSkill"></span>
                        <label asp-for="RequiredSkill"></label>
                        <input asp-for="RequiredSkill">
                    </div>
                    <div>
                        <span asp-validation-for="JobNote"></span>
                        <label asp-for="JobNote"></label>
                        <input asp-for="JobNote">
                    </div>
                </div>
                <input type="submit" value="Add Job">
            </form>
        </div>
    </div>
</body>
</html>