@model AddJobWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <partial name="SideNavPartial"/>
    </div>
    <div class="dashboard_main">
        <div class="job_form_title">
            <h2>Add a Job</h2>
            <p>* = required field</p>
        </div>
        <form asp-action="AddNewJob" asp-controller="Home" method="POST">
            <div class="job_form row">
                <div class="job_sub_form col">
                    <span class="job_form_span" asp-validation-for="TheJob.CompanyName"></span>
                    <div class="job_form_input">
                        <label asp-for="TheJob.CompanyName"></label>
                        <input asp-for="TheJob.CompanyName">
                    </div>
                    <span class="job_form_span" asp-validation-for="TheJob.JobTitle"></span>
                    <div class="job_form_input">
                        <label asp-for="TheJob.JobTitle"></label>
                        <input asp-for="TheJob.JobTitle">
                    </div>
                    <span class="job_form_span" asp-validation-for="TheJob.JobStatus"></span>
                    <div class="job_form_input">
                        <label asp-for="TheJob.JobStatus"></label>
                        <div class="job_form_radio">
                            <div>
                            <input asp-for="TheJob.JobStatus" type="radio" value="Interested" class="radio_option">Interested<br />
                            <input asp-for="TheJob.JobStatus" type="radio" value="Applied" class="radio_option">Applied<br />
                            </div>
                            <div>
                            <input asp-for="TheJob.JobStatus" type="radio" value="Interviewed" class="radio_option">Interviewed<br />
                            <input asp-for="TheJob.JobStatus" type="radio" value="Rejected" class="radio_option">Rejected<br />
                            </div>
                        </div>
                    </div>
                    <span class="job_form_span" asp-validation-for="TheJob.AppliedAt"></span>
                    <div class="job_form_input">
                        <label asp-for="TheJob.AppliedAt"></label>
                        <input asp-for="TheJob.AppliedAt">
                    </div>
                    <span class="job_form_span" asp-validation-for="TheJob.AppliedDate"></span>
                    <div class="job_form_input">
                        <label asp-for="TheJob.AppliedDate"></label>
                        <input asp-for="TheJob.AppliedDate">
                    </div>
                </div>
                <div class="job_sub_form col">
                    <span class="job_form_span" asp-validation-for="TheJob.JobType"></span>
                    <div class="job_form_input">
                        <label asp-for="TheJob.JobType"></label>
                        <div class="job_form_radio">
                            <div>
                            <input asp-for="TheJob.JobType" type="radio" value="FullTime" class="radio_option">Full-Time<br />
                            <input asp-for="TheJob.JobType" type="radio" value="PartTime" class="radio_option">Part-Time<br />
                            </div>
                            <div>
                            <input asp-for="TheJob.JobType" type="radio" value="Contract" class="radio_option">Contract<br />
                            <input asp-for="TheJob.JobType" type="radio" value="Seasonal" class="radio_option">Seasonal<br />
                            </div>
                        </div>
                    </div>
                    <span class="job_form_span" asp-validation-for="TheJob.CompanyWebsite"></span>
                    <div class="job_form_input">
                        <label asp-for="TheJob.CompanyWebsite"></label>
                        <input asp-for="TheJob.CompanyWebsite">
                    </div>
                    <span class="job_form_span" asp-validation-for="TheJob.ApplicationLink"></span>
                    <div class="job_form_input">
                        <label asp-for="TheJob.ApplicationLink"></label>
                        <input asp-for="TheJob.ApplicationLink">
                    </div>
                    <span class="job_form_span" asp-validation-for="TheJob.RequiredSkill"></span>
                    <div class="job_form_input">
                        <label asp-for="TheJob.RequiredSkill"></label>
                        <input asp-for="TheJob.RequiredSkill">
                    </div>
                    <span class="job_form_span" asp-validation-for="TheJob.JobNote"></span>
                    <div class="job_form_input">
                        <label asp-for="TheJob.JobNote"></label>
                        <textarea asp-for="TheJob.JobNote"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>