@model Contact
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Contact</title>
</head>
<body>
    <div>
        <partial name="SideNavPartial"/>
    </div>
    <div class="dashboard_main">
        <div class="dashboard_header">
            <div class="icon">
                <h3><i class="fas fa-pen-fancy"></i>Add Contact</h3>
            </div> 
        </div>
        <div class="job_form_title">
            <p>* = required field</p>
        </div>
        <div class="job_form row">  
            <form asp-action="AddNewContact" asp-controller="Home" method="POST">
                <span class="job_form_span" asp-validation-for="ContactFirstName"></span>
                <div class="job_form_input">
                    <label asp-for="ContactFirstName"></label>
                    <input asp-for="ContactFirstName">
                </div>
                <span class="job_form_span" asp-validation-for="ContactLastName"></span>
                <div class="job_form_input">
                    <label asp-for="ContactLastName"></label>
                    <input asp-for="ContactLastName">
                </div>
                <span class="job_form_span" asp-validation-for="ContactTitle"></span>
                <div class="job_form_input">
                    <label asp-for="ContactTitle"></label>
                    <input asp-for="ContactTitle">
                </div>
                <span class="job_form_span" asp-validation-for="ContactEmail"></span>
                <div class="job_form_input">
                    <label asp-for="ContactEmail"></label>
                    <input asp-for="ContactEmail">
                </div>
                <span class="job_form_span" asp-validation-for="ContactPhone"></span>
                <div class="job_form_input">
                    <label asp-for="ContactPhone"></label>
                    <input asp-for="ContactPhone">
                </div>
                <span class="job_form_span" asp-validation-for="FromCompany"></span>
                <div class="job_form_input">
                    <label asp-for="FromCompany"></label>
                    <input asp-for="FromCompany">
                </div>
                <span class="job_form_span" asp-validation-for="Note"></span>
                <div class="job_form_input">
                    <label asp-for="Note"></label>
                    <textarea asp-for="Note"></textarea>
                </div>

                <span class="job_form_span" asp-validation-for="ThankYouLetter"></span>
                <div class="job_form_input">
                    <label asp-for="ThankYouLetter"></label>
                    <div class="job_form_radio">
                        <div>
                        <input asp-for="ThankYouLetter" type="radio" value="sent" class="radio_option">Sent<br />
                        <input asp-for="ThankYouLetter" type="radio" value="notComplete" class="radio_option">Not Complete<br />
                        </div>
                    </div>
                </div>

                <input type="submit" value="Submit" class="input_btn">
            </form>
            
        </div>
    </div>
</body>
</html>