@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
    <div>
        <partial name="SideNavPartial"/>
    </div>
    <div class="dashboard_main">
        <div class="job_form_title">
            <h2>Contacts</h2>
            <p>* = required field</p>
        </div>
    </div>
</body>
</html>