<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dashboard</title>
</head>
<body>
    <div class="sidenav">
        <a href=""><i class="fas fa-list"></i>Job List</a>
        <a href=""><i class="fas fa-edit"></i>Add Job</a>
        <a href=""><i class="fas fa-id-badge"></i>Personal Info</a>
        <a href=""><i class="fas fa-address-book"></i>Contact</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i>Log out</a>
    </div>
    <div class="dashboard_main">

    </div>
</body>
</html>