<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UApplied</title>
</head>
<body>
    <div>
        <div>
            <h2>UApplied</h2>
        </div>
        <div>
            <a href="">HOME</a>
            <a href="">LEARN MORE</a>
        </div>
    </div>
    <div>
        <div>
            <h1>HELP YOU KEEP TRACK OF ALL THE JOBS YOU'VE APPLIED</h1>
        </div>
        <div>
            <p>Sigu up to gain access to UApplied</p>
        </div>
        <div>
            <input type="button" value="SIGU UP" onclick="location.href='@Url.Action("Register", "Home")'" />
            <input type="button" value="SIGU IN" onclick="location.href='@Url.Action("Login", "Home")'" />
        </div>
    </div>
</body>
</html>