<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UApplied</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
</head>
<body id="index_body">
    <div class="nav">
        <div class="nav_title">
            <h2><i class="fas fa-pen-fancy"></i> UApplied</h2>
        </div>
        <div class="nav_options">
            <a href="/register">SIGN UP</a>
            <a href="">LEARN MORE</a>
        </div>
    </div>
    <div class="index_main">
        <div class="index_main_title">
            <h1>KEEP TRACK OF ALL THE JOBS YOU'VE APPLIED</h1>
            <i class="fas fa-clipboard-list fa-9x"></i>
        </div>
        <div class="index_main_body">
            <p>You have applied to many jobs. Now what?   Can you remember which jobs did you apply?   Sigu up to gain access to UApplied and keep track of them.</p>
            <p></p>
        </div>
        <div class="index_main_btn">
            <input type="button" value="SIGU UP" onclick="location.href='@Url.Action("Register", "Home")'" />
            <input type="button" value="LOG IN" onclick="location.href='@Url.Action("Signin", "Home")'" />
        </div>
    </div>
    <partial name="CopyrightPartial"/>
</body>
</html>