@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Info</title>
</head>
<body>
    <div>
        <partial name="SideNavPartial"/>
    </div>
    <div class="dashboard_main">
        <div class="dashboard_header">
            <div class="icon">
                <h3><i class="fas fa-pen-fancy"></i>Personal Information</h3>
            </div> 
        </div>
        <div class="job_form row">

            <form asp-action="EditUser" asp-controller="Home" method="POST">
                <span asp-validation-for="Username"></span>
                <div class="job_form_input">
                    <label asp-for="Username"></label>
                    <input asp-for="Username">
                </div>
                <span asp-validation-for="Email"></span>
                <div class="job_form_input">
                    <label asp-for="Email"></label>
                    @* <p>@Model.Email</p> *@
                    <input asp-for="Email">
                </div>
                <span asp-validation-for="Password"></span>
                <div class="job_form_input">
                    <label for="OldPassword">Old Password</label>
                    <input type="Password" name="OldPassword" id="OldPassword">
                </div>
                <span asp-validation-for="Password"></span>
                <div class="job_form_input">
                    <label asp-for="Password">New Password</label>
                    <input asp-for="Password">
                </div>
                <span asp-validation-for="ConfirmPassword"></span>
                <div class="job_form_input">
                    <label asp-for="ConfirmPassword">Confirm New Password</label>
                    <input asp-for="ConfirmPassword">
                </div>
                <div class="edit_profile">
                    <ul>
                        <li>One special character</li>
                        <li>minimum 8 characters</li>
                        <li>One number</li>
                    </ul>
                </div>
                <input type="submit" value="Edit" class="input_btn">
            </form>
            
        </div>
    </div>
</body>
</html>