
    <div class="sidenav">
        @* <a href="/home/@Model.UserId"><i class="fas fa-home"></i>Home</a> *@

        <a asp-action="Home" asp-controller="Home" asp-route-UserId="@ViewBag.Id"><i class="fas fa-home"></i>Home</a>
        
        @* <a href=""><i class="fas fa-list"></i>Job List</a> *@

        <a asp-action="JobList" asp-controller="Home" asp-route-UserId="@ViewBag.Id"><i class="fas fa-list"></i>Job List</a>

        @* <a href="/add_job"><i class="fas fa-edit"></i>Add Job</a> *@

        <a asp-action="AddJob" asp-controller="Home" asp-route-UserId="@ViewBag.Id"><i class="fas fa-edit"></i>Add Job</a>

        @* <a href="/personal_info"><i class="fas fa-id-badge"></i>Personal Info</a> *@

        <a asp-action="PersonalInfo" asp-controller="Home" asp-route-UserId="@ViewBag.Id"><i class="fas fa-id-badge"></i>Personal Info</a>

        <a href=""><i class="fas fa-address-book"></i>Contact</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i>Log out</a>
    </div>