    <div class="sidenav">
        <a href=""><i class="fas fa-list"></i>Job List</a>
        <a href="/add_job"><i class="fas fa-edit"></i>Add Job</a>
        <a href=""><i class="fas fa-id-badge"></i>Personal Info</a>
        <a href=""><i class="fas fa-address-book"></i>Contact</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i>Log out</a>
    </div>