*{
    margin: 0px;
    padding: 0px;
    /* border: tomato 1px solid; */
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

h2 {
    text-transform: uppercase;
}
.icon{
    padding: 15px;
}

.icon a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.icon a:hover{
    color: rgb(77, 177, 207);
}

input {
    border: 1px solid rgb(160, 160, 160);
    border-radius: 1px;
}

th{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
}

thead {
    font-weight: 700;
    text-transform: uppercase;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.nav:hover{
    background: linear-gradient( rgba(77, 177, 207, 0.3), rgba(77, 177, 207, 0.3) );
}

.nav_title h3{
    padding: 30px 40px;
}

.nav_options a{
    text-decoration: none;
    color: white;
    margin-right: 3.5vw;
    padding: 0.5vw;
}

.nav_options a:hover{
    font-weight: 700;
    border-bottom: 0.5vw solid rgb(77, 177, 207);
    padding-bottom: 1vw;
}

span{
    color: red;
    margin: 0px 10%;
    font-size: 14px;
    text-align: center;
}

.absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.between_a{
    display: inline;
}

.empty_list{
    text-align: center;
}

.hidden{
    display: none;
    opacity: 0;
    visibility: hidden; 
}

.middle {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    letter-spacing: 5px;
}

.toggle_slide{
    display: table-cell;
    width: 100%;
}

#index_body, #reg_log_body{
    background-image: url(../images/scott-graham-5fNmWej4tAA-unsplash.jpg) ;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/scott-graham-5fNmWej4tAA-unsplash.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

#reg_log_body{
    color: black;
}


.index_main{
    margin: 7vw 9vw;
    text-align: center;
}
.index_main h1{
    font-size: 4.5vw;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;

}

.index_main_title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.index_main_body{
    line-height: 1.5;
    padding: 20px;
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
}

.index_main_btn{
    margin: 20px;
}

.index_main_btn input{
    padding: 1.5vw 3vw;
    margin: 4vw;
    font-size: 2vw;
    font-weight: 700;
    background-color: Transparent;
    color: rgb(77, 177, 207);
    border: 0.5vw solid  rgb(58, 157, 187);
}

.index_main_btn input:hover{
    color: rgb(90,90,90);
    border: 0.5vw solid  rgb(184, 239, 255);
    background-color:rgb(184, 239, 255);
}

.fas{
    color: rgb(60, 160, 190);

}

.fa-clipboard-list{
    padding: 40px;
}

.reg_log_page{
    width: 65%;
}

.signin_main{
    padding: 20px;
}

.signin_main h1{
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    line-height: 1.5;
}

.signin_main p{
    margin: 30px 0px 10px 0px;
    text-align: center;
}

.signin_main a{
    text-decoration: none;
    color: rgb(60, 160, 190);
}

.signin_main a:hover{
    color: rgb(4, 63, 82);
    text-decoration: underline;
    font-weight: 600;
}

.reg_log_page{
    background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) );
    margin: 30px auto;
    padding: 20px;
    border-radius: 0px;
}

.reg_log_form{
    padding: 5px 20px;
}

.reg_log_form ul{
    padding: 5px 20% 30px 20%;
}

.reg_log_form li{
    float: left;
    margin-right: 30px;
    font-size: 14px;
    color: rgb(60, 160, 190);
} 



.reg_log_form label{
    margin: 0px 10%;
    font-weight: 600;
    color: rgb(78, 78, 78);
}

.reg_log_form_input input, option, select{
    display: block;
    width: 80%;
    height: 40px;
    padding: 0px 8px;
    margin: 8px auto 20px auto;
    border: 1px solid rgb(216, 216, 216);
}

.logReg_span{
    padding: 0.1vw 0vw 1.2vw 0vw;
    display: block;
    text-align: left;
}

#logintoview{
    display: block;
    margin: 1vw 5vw 3vw 2vw;
    text-align: center;
    color: red;
}

.input_btn{
    display: block;
    font-size: 20px;
    color: white;
    border: none;
    background-color: rgb(60, 160, 190);
    padding: 1vw 12vw;
    margin: 40px auto 10px auto;
}

.input_btn:hover{
    color: rgb(172, 172, 172);
    background-color: rgb(9, 74, 94);
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(83, 134, 150);
    background-image: linear-gradient(to right top, rgb(83, 134, 150), rgb(4, 63, 82));

    overflow-x: hidden;
    padding: 35px 0px;
}

.sidenav a{
    text-decoration: none;
    font-size: 2vw;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    padding: 1.2vw 2vw;
    margin: 2vw 0px;
}

.sidenav a:hover{
    background-color: rgb(50, 92, 105);
    color: #a5a4a4;
    text-decoration: none;

}

.sidenav i{
    padding-right: 8px;
    color: white;
}

.dashboard_main{
    margin-left: 20%; /* Same as the width of the sidenav */
    padding: 3vw;
    /* background-color: rgb(238, 246, 248); */
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.dashboard_job{
    padding-left: 0.3vw;
}

.dashboard_job_number{
    background-color: rgb(238, 246, 248);
    margin: 1.5vw 0vw;
    padding: 1vw 2vw;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 10px 10px -10px rgb(212, 212, 212);
    line-height: 2vw;
}

.dashboard_job_number p{
    font-size: 1.5vw;
    color: gray;
}

.job_number_board .job_number_board-type{
    font-size: 1vw;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0.5vw;
}

.dashboard_job_number .job_num{
    font-size: 4vw;
    color: white;
    text-shadow: 2px 2px 0px rgb(4, 63, 82, 0.5);
    font-weight: 700;
    text-align: center;
}

.dashboard_header h3,h1{
    padding: 0vw 2vw;
    text-align: center;
    font-size: 4vw;
    text-transform: uppercase;
    display: block;
}

.dashboard_job h1{
    padding: 2vw 3vw;
    font-size: 4vw;
    text-transform: uppercase;
}


.job_title{
    font-weight: 700;
    color: rgb(184, 239, 255);
}



.copyright_div{
    padding: 4px;
}

.copyright_div p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-align: center;
    opacity: 50%;
}

.job_card {
    width: 30%;
    color: white;
    background-image: linear-gradient(to left bottom, rgb(83, 134, 150), rgb(4, 63, 82));
    padding: 20px 10px 10px 10px;
    margin: 1.5vw 1vw;
    display: inline-block;
    text-align: center;
    box-shadow: 0 10px 10px rgb(212, 212, 212);
}

.jobCard_status{
    color: rgb(83, 134, 150);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.1vw;
}

.job_card a {
    display: inline-block;
    color: rgb(4, 63, 82);
    text-transform: uppercase;
    background-color: white;
    margin: 1vw 1vw;
    padding: 0.3vw 1.5vw;
    text-decoration: none;
}

.job_card a:hover{
    background-color:  rgb(83, 134, 150);
    text-decoration: none;
    color: white;
}

.job_form_title{
    margin: 1.5vw 0vw;
}

.job_form_title p{
    font-size: 1.2vw;
    margin: 1.3vw 0vw 0vw 1.3vw;
}

.job_form{
    display: flex;
    justify-content: space-evenly;
    align-items: top;
}

.job_form_span{
    display: block;
}

.job_form_input{
    margin: 1.8vw 1.2vw;
    display: flex;
    justify-content: space-between;
}

.job_form_input label{
    padding: 0.5vw 1vw;
    font-weight: 600;
    color: rgb(63, 141, 165);
}

.job_form_radio{
    display: flex;
    justify-content: center;
}

.radio_option{
    margin: 0.5vw 0.5vw;
}

.job_form_input input,textarea, option, select{
    padding: 0.5vw;
}

.job_form_input select{
    width: 202px;
}

.jobList_type{
    background-color: rgb(83, 134, 150);
    color: white;
    text-align: center;
    padding: 1vw;
}

.sub_list_info p{
    color:  rgb(83, 134, 150);
    font-weight: 600;
}

.btn_frame{
    padding: 1.5vw;
    display: block;
}

.edit_profile ul{
    width: 90%;
    margin: 2vw;
}


